body {
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    color: rgba(0,0,0, 0.8);
    background-color: rgba(0,0,0, 0.03);
}

#top10 {
    background-color: rgba(255,255,255, 0.9);
    padding-top: 0;
    /*padding: 10px;*/
}

#map { min-height: 500px}

h1 {
    text-align: center;
}

.item-description {
    font-size: 14px;
}

.mdl-list__item-text {
    padding-top: 5px;
    text-align: center;
    font-size: 28px;
    min-width: 40px;
}

.mdl-list__item--small {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3)
}

.mdl-list__item:last-child {
    border-bottom: none;
}

.mdl-list {
    padding: 0;
}

.my-footer {
    color: rgba(0,0,0, 0.5); padding-right: 15px; text-align: right
}

.spinner {
    padding-top: 200px;
    padding-bottom: 200px;
}